<a href="https://colab.research.google.com/github/LiliiaCheban/data-and-python/blob/main/Data_investigation_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [12]:
import pandas as pd
url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df = pd.read_csv(url)
df
sh=df.shape
print('size_file',sh)
a=df.head(1)
print('first row',a)
b=df['area'].iloc[0:2]
print('2 first rows of colomn area', b )
c=df['area'].unique()
print('unique name area', c)

size_file (1071, 12)
first row         code            area        date  median_salary  life_satisfaction  \
0  E09000001  city of london  1999-12-01        33020.0                NaN

  mean_salary recycling_pct  population_size  number_of_jobs  area_size  \
0       48922             0           6581.0             NaN        NaN

   no_of_houses  borough_flag
0           NaN             1
2 first rows of colomn area 0          city of london
1    barking and dagenham
Name: area, dtype: object
unique name area ['city of london' 'barking and dagenham' 'barnet' 'bexley' 'brent'
 'bromley' 'camden' 'croydon' 'ealing' 'enfield' 'greenwich' 'hackney'
 'hammersmith and fulham' 'haringey' 'harrow' 'havering' 'hillingdon'
 'hounslow' 'islington' 'kensington and chelsea' 'kingston upon thames'
 'lambeth' 'lewisham' 'merton' 'newham' 'redbridge' 'richmond upon thames'
 'southwark' 'sutton' 'tower hamlets' 'waltham forest' 'wandsworth'
 'westminster' 'north east' 'north west' 'yorkshire and the humber'
 'east midlands' 'west midlands' 'east' 'london' 'south east' 'south west'
 'inner london' 'outer london' 'england' 'united kingdom' 'great britain'
 'england and wales' 'northern ireland' 'scotland' 'wales']