<a href="https://colab.research.google.com/github/LiliiaCheban/data-and-python/blob/main/Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Imports & Table Content
In this worksheet you will use data from a dataset in an Excel spreadsheet called public_use-talent-migration.xlsx. This spreadsheet file contains 3 sheets, each with related but different data on migration.

Running the code below will create a dataframe from each of the 3 sheets and will display the column names and data types so that you can start to get an idea of what is in the data.

You can then use these dataframes in the exercises, rather than keep re-reading the original files. The 3 dataframes will be called:

skill_migration
industry_migration
country_migration

В этом листе вы будете использовать данные из набора данных в электронной таблице Excel под названием public_use-talent-migration.xlsx. Этот файл электронной таблицы содержит 3 листа, каждый из которых содержит связанные, но разные данные о миграции.

Выполнение приведенного ниже кода создаст фрейм данных из каждого из трех листов и отобразит имена столбцов и типы данных, чтобы вы могли получить представление о том, что находится в данных.

Затем вы можете использовать эти кадры данных в упражнениях, а не перечитывать исходные файлы. 3 фрейма данных будут называться:

навык_миграция
промышленность_миграция
страна_миграция

In [ ]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")
industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")

def get_summary(df):
  display(df.info())

get_summary(skill_migration)
get_summary(industry_migration)
get_summary(country_migration)

print('датафрейм')
skill_migration.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
dtypes: float64(9), object(8)
memory usage: 551.0+ KB

None

датафрейм

Index(['country_code', 'country_name', 'wb_income', 'wb_region',
       'skill_group_id', 'skill_group_category', 'skill_group_name',
       'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017',
       'net_per_10K_2018', 'net_per_10K_2019'],
      dtype='object')

Exercise 1

Write a function that will take the skill_migration dataframe as a parameter and will:

filter for the rows where the wb_income contains High income.
return the number of rows (length of the dataframe).

Упражнение 1

Напишите функцию, которая будет принимать фрейм данныхkill_migration в качестве параметра и будет:

фильтр для строк, где wb_income содержит Высокий доход.
вернуть количество строк (длину кадра данных).

In [ ]:
import pandas as pd
skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_income(df):
  # add code below to find the number of high income countries using the wb_income column
   filtered_df = df[df['wb_income'].str.contains('High income', case=False, na=False)]
   return len(filtered_df)
actual = filter_income(skill_migration)
expected = 8904

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))
#filter_income(skill_migration)

Test passed!
Expected: 8904
Actual: 8904

Упражнение 2

Напишите функцию, которая будет принимать фрейм данныхkill_migration и определенный тип навыков (например, технические навыки) в качестве параметров и будет:

фильтр для строк, у которых навык_группа_категория равен данному навыку.
верните страну, которая больше всего отображается в столбце Country_name отфильтрованного фрейма данных.

Exercise 2

Write a function that will take the skill_migration dataframe, and a particular type of skill (e.g. Tech skills) as parameters and will:

filter for the rows that have a skill_group_category equal to the given skill.
return the country that shows up the most in the country_name column of the filtered dataframe.

In [9]:
import pandas as pd
skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")


def filter_skills(df, skill):

   filtered_df = df[df['skill_group_category'] == skill]

   if filtered_df.empty:
       return [ "No data for the specified skill type."]
   most_common_country = filtered_df.groupby('country_name').size().idxmax()
   return [most_common_country]




tests = [
    { "id": 1, "actual": filter_skills(skill_migration, "Tech Skills")[0], "expected": "Australia" },
    { "id": 2, "actual": filter_skills(skill_migration, "Business Skills")[0], "expected": "Australia" },
    { "id": 3, "actual": filter_skills(skill_migration, "Specialized Industry Skills")[0], "expected": "United Kingdom" }
]

for test in tests:
       if test["actual"] == test["expected"]:
           print("Test {} passed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))
       else:
           print("Test {} failed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))

Test 1 passed!
Expected: Australia
Actual: Australia

Test 2 passed!
Expected: Australia
Actual: Australia

Test 3 passed!
Expected: United Kingdom
Actual: United Kingdom

Exercise 3

Write a function that will take the skill_migration dataframe as a parameter and will:

filter, using two conditions, for the rows where skill_group_id is 2265 and net_per_10K_2019 is greater than -500.
sort the rows in ascending order based on net_per_10K_2019
return the first 5 rows.

Упражнение 3

Напишите функцию, которая будет принимать фрейм данныхkill_migration в качестве параметра и будет:

фильтруйте с использованием двух условий для строк, где Skill_group_id равен 2265, а net_per_10K_2019 больше -500.
отсортируйте строки в порядке возрастания на основе net_per_10K_2019
верните первые 5 строк.

In [ ]:
import pandas as pd
skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_skill_id(df):

   # add code below to find all rows that the skill id 2265 with greater than -500 migration and return the first 5 rows when
   # добавьте код ниже, чтобы найти все строки, для которых идентификатор навыка 2265 имеет миграцию более -500, и вернуть первые 5 строк при сортировке в порядке net_per_10K_2019
     filtered_df = df[(df['skill_group_id'] == 2265) & (df['net_per_10K_2019'] > -500)].sort_values('net_per_10K_2019', ascending=True).head(5)
     return filtered_df


#run test to see if you are getting the correct first row and only returning 5 items
#запустите тест, чтобы убедиться, что вы получаете правильную первую строку и возвращаете только 5 элементов
filtered_df = filter_skill_id(skill_migration)
actual1 = filtered_df.index[0]
expected1 = 14550
actual2 = len(filtered_df)
expected2 = 5

if actual1 == expected1 and actual2 == expected2:
    print("Test passed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))
else:
      print("Test failed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))

Test passed!
Expected: 14550 & 5
Actual: 14550 & 5

Exercise 4

Write a function that will take the country_migration dataframe and an amount of net per 10K migrations as parameters and will:

filter for all rows with a net_per_10K_2019 less than amount

return the number of rows.

Упражнение 4

Напишите функцию, которая будет принимать в качестве параметров кадр данных Country_migration и количество чистых за 10 тысяч миграций и будет:

фильтр для всех строк с суммой net_per_10K_2019 меньше
вернуть количество строк.

In [ ]:
import pandas as pd
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")
def filter_net_per_10k(df, amount):
# add code below to find all the rows where the net_per_10K_2019 is less than the `amount` parameter
# добавьте код ниже, чтобы найти все строки, в которых net_per_10K_2019 меньше параметра `amount`
  filtered_df=(df[df['net_per_10K_2019'] < amount].shape[0])
  return filtered_df
  print( len(filtered_data))

  #run test to see if you are getting the correct first row and only returning 5 items
  #запустите тест, чтобы убедиться, что вы получаете правильную первую строку и возвращаете только 5 элементов
tests = [
    { "id": 1, "actual": filter_net_per_10k(country_migration, 100), "expected": 4148 },
    { "id": 2, "actual": filter_net_per_10k(country_migration, 0), "expected": 1980 },
    { "id": 3, "actual": filter_net_per_10k(country_migration, -100), "expected": 0 }
]

for test in tests:
  if test["actual"] == test["expected"]:
    print("Test {} passed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))
  else:
    print("Test {} failed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"],  test["actual"]))

Test 1 passed!
Expected: 4148
Actual: 4148

Test 2 passed!
Expected: 1980
Actual: 1980

Test 3 passed!
Expected: 0
Actual: 0

Exercise 5

Write a function that will take the country_migration dataframe as a parameter and will:

filter for all rows where both net_per_10K_2015 and net_per_10K_2016 values are greater than 50.
return the number of rows

Упражнение 5

Напишите функцию, которая будет принимать фрейм данных Country_migration в качестве параметра и будет:

фильтр для всех строк, где значения net_per_10K_2015 и net_per_10K_2016 больше 50.
вернуть количество строк

In [ ]:
import pandas as pd
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")
def filter_two_net(df):
  # add code below to find rows which have migration in 2015 & 2016 greater than 50
  # добавьте код ниже, чтобы найти строки, в которых миграция в 2015 и 2016 годах превышает 50
    df_filtered = df[(df['net_per_10K_2015'] > 50) & (df['net_per_10K_2016'] > 50)]
    return len(df_filtered)

#run test to see if you are getting the correct length of rows
#запустите тест, чтобы убедиться, что вы получаете правильную длину строк
actual = filter_two_net(country_migration)
expected = 3

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 3
Actual: 3

Exercise 6

Write a function that will take the country_migration dataframe as a parameter and will:

filter for all migrations from countries with Low Income to countries with Upper Middle Incomeand within the same region ( base_country_wb_region is the same as target_country_wb_region)
display the number of rows.

Упражнение 6

Напишите функцию, которая будет принимать фрейм данных Country_migration в качестве параметра и будет:

фильтр для всех миграций из стран с низким доходом в страны с доходом выше среднего и в пределах одного региона ( base_country_wb_region совпадает с target_country_wb_region)
отображение количества строк.

In [16]:
import pandas as pd
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")


def filter_two_income(df):

  # add code below to find all rows of migration from low income to upper middle income and where migration was to the same region
# добавьте код ниже, чтобы найти все строки миграции от уровня с низким доходом до уровня дохода выше среднего,
# а также места миграции в один и тот же регион.
    low_income_countries = df[df['base_country_wb_income'] == 'Low income']
    high_income_countries = df[df['base_country_wb_income'].isin(['Upper middle income', 'High income'])]

    filtered_df = pd.merge(low_income_countries, high_income_countries,
                           how='inner',
                           left_on='target_country_wb_region',
                           right_on='base_country_wb_region')
    print("Количество строк после фильтрации:", len(filtered_df))

    return filtered_df


result_df = filter_two_income(country_migration)


actual = len(result_df)
expected = 15

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Количество строк после фильтрации: 0
Test failed!
Expected: 15
Actual: 0

Exercise 7

Write a function that will take the industry_migration dataframe as a parameter and will:

filter for all rows which have a isic_section_index of M and the industry_name, Biotechnology
return the number of rows.

Упражнение 7

Напишите функцию, которая будет принимать кадр данных Industry_migration в качестве параметра и будет:

фильтр для всех строк, у которых isic_section_index имеет значение M и название отрасли, Биотехнология
вернуть количество строк.

In [ ]:
import pandas as pd
industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")
#industry_migration.head(2)
 # add code below to find all the rows from biotechnology industry with isic section index of M

def filter_industry(df):
    df_filtered = df[(df['isic_section_index'] == 'M') & (df['industry_name'] == 'Biotechnology')]
    return len(df_filtered)
 #run test to see if you are getting the correct length of rows
actual = filter_industry(industry_migration)
expected = 32

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 32
Actual: 32

Exercise 8

Write a function that will take the industry_migration dataframe as a parameter and will:

filter for all rows with industry_name of Computer Software that have a wb_income of Low income.
return the filtered dataframe

In [ ]:
import pandas as pd
industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")
def filter_industry_income(df):
  df_filtered = df[(df['industry_name'] == 'Computer Software') & (df['wb_income'] == 'Low income')]

  return df_filtered
  #run test to see if you are getting the correct first row and only returning 1 item
filtered_df = filter_industry_income(industry_migration)
actual1 = filtered_df.index[0]
expected1 = 3699
actual2 = len(filtered_df)
expected2 = 1

if actual1 == expected1 and actual2 == expected2:
  print("Test passed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))
else:
  print("Test failed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))

Test passed!
Expected: 3699 & 1
Actual: 3699 & 1

Exercise 9

Write a function that will take the industry_migration dataframe as a parameter and will:

filter for all rows with country_name of United States or United Kingdom and a isic_section_index of M
return the average of net_per_10K_2015.

Напишите функцию, которая будет принимать кадр данных Industry_migration в качестве параметра и будет:

Фильтр для всех строк с именем страны, равным США или Великобритании, и значением isic_section_index, равным M, возвращает среднее значение net_per_10K_2015.

In [28]:
import pandas as pd
industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")
def filter_country(df):
  # add code below to find all USA and UK rows which have ISIC of M and return mean migration in 2015


   filtered_df = df[(df['country_name'].isin(['USA', 'United Kingdom'])) & (df['isic_section_index'] == 'M')]
   avg = filtered_df['net_per_10K_2015'].mean()
   print("With index M filtered data:\n", filtered_df)
   return avg

  #run test to see if you are getting the correct average
actual = round(filter_country(industry_migration), 2)
expected = 47.28

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

With index M filtered data:
      country_code    country_name    wb_income              wb_region  \
1981           gb  United Kingdom  High income  Europe & Central Asia
1982           gb  United Kingdom  High income  Europe & Central Asia
1983           gb  United Kingdom  High income  Europe & Central Asia
1984           gb  United Kingdom  High income  Europe & Central Asia
1988           gb  United Kingdom  High income  Europe & Central Asia
2019           gb  United Kingdom  High income  Europe & Central Asia
2022           gb  United Kingdom  High income  Europe & Central Asia
2040           gb  United Kingdom  High income  Europe & Central Asia
2045           gb  United Kingdom  High income  Europe & Central Asia
2049           gb  United Kingdom  High income  Europe & Central Asia
2053           gb  United Kingdom  High income  Europe & Central Asia
2054           gb  United Kingdom  High income  Europe & Central Asia
2064           gb  United Kingdom  High income  Europe & Central Asia
2065           gb  United Kingdom  High income  Europe & Central Asia
2066           gb  United Kingdom  High income  Europe & Central Asia
2072           gb  United Kingdom  High income  Europe & Central Asia
2075           gb  United Kingdom  High income  Europe & Central Asia
2077           gb  United Kingdom  High income  Europe & Central Asia
2088           gb  United Kingdom  High income  Europe & Central Asia
2099           gb  United Kingdom  High income  Europe & Central Asia
2100           gb  United Kingdom  High income  Europe & Central Asia
2104           gb  United Kingdom  High income  Europe & Central Asia

     isic_section_index                                 isic_section_name  \
1981                  M  Professional scientific and technical activities
1982                  M  Professional scientific and technical activities
1983                  M  Professional scientific and technical activities
1984                  M  Professional scientific and technical activities
1988                  M  Professional scientific and technical activities
2019                  M  Professional scientific and technical activities
2022                  M  Professional scientific and technical activities
2040                  M  Professional scientific and technical activities
2045                  M  Professional scientific and technical activities
2049                  M  Professional scientific and technical activities
2053                  M  Professional scientific and technical activities
2054                  M  Professional scientific and technical activities
2064                  M  Professional scientific and technical activities
2065                  M  Professional scientific and technical activities
2066                  M  Professional scientific and technical activities
2072                  M  Professional scientific and technical activities
2075                  M  Professional scientific and technical activities
2077                  M  Professional scientific and technical activities
2088                  M  Professional scientific and technical activities
2099                  M  Professional scientific and technical activities
2100                  M  Professional scientific and technical activities
2104                  M  Professional scientific and technical activities

      industry_id                         industry_name  net_per_10K_2015  \
1981            9                          Law Practice             39.32
1982           10                        Legal Services             26.79
1983           11                 Management Consulting            150.48
1984           12                         Biotechnology            150.24
1988           16                            Veterinary            105.47
2019           47                            Accounting             69.26
2022           50               Architecture & Planning            243.07
2040           70                              Research            122.52
2045           76                      Executive Office             16.66
2049           80               Marketing & Advertising             92.95
2053           84                  Information Services            107.67
2054           86                Environmental Services             56.75
2064           97                       Market Research            115.36
2065           98     Public Relations & Communications             51.64
2066           99                                Design            112.30
2072          105      Professional Training & Coaching             40.40
2075          108            Translation & Localization             84.33
2077          110                       Events Services             60.85
2088          123                Outsourcing/Offshoring             23.16
2099          135  Mechanical or Industrial Engineering             41.45
2100          136                           Photography              6.29
2104          140                        Graphic Design             35.68

      net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
1981             15.05              7.03             10.21              7.10
1982             32.73             15.80             28.46              3.47
1983             98.48             58.23             44.55             12.46
1984            142.46            107.24             84.05             26.84
1988            189.89            131.01            153.10             97.59
2019             54.42             27.39             37.10             56.06
2022            139.42             63.64             49.00              7.21
2040             95.97             79.46            102.54             89.10
2045              2.42             44.05              7.24             19.45
2049             55.19             24.50             38.53             24.59
2053             75.13             60.80             48.34             19.40
2054             38.79             40.92             20.76              7.79
2064             83.77             53.37             44.99              7.48
2065             -9.78             26.65             17.86             -5.97
2066             58.36             46.01             28.47              7.25
2072             45.34             33.70             36.20             21.89
2075            126.10             13.38             84.89             50.55
2077             29.60             46.69             72.86             48.71
2088             41.28             19.36             38.21             59.98
2099             34.37              4.26              7.88              0.69
2100             31.67              2.03             10.85             12.77
2104             41.76             -3.76            -29.50             -5.32
Test failed!
Expected: 47.28
Actual: 79.67

Exercise 10

Write a function that will take the country_migration dataframe and a base region as paramters and will:

filter for all migrations to Upper Middle Income and High Income regions (target_country_wb_income) from the given region (base_country_wb_region)

Напишите функцию, которая будет принимать фрейм данных Country_migration и базовый регион в качестве параметров и будет:

фильтр для всех миграций в регионы с доходом выше среднего и высоким уровнем дохода (target_country_wb_income) из данного региона (base_country_wb_region)

In [27]:
import pandas as pd
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")
def filter_migrations(df, region):
    print("Уникальные значения региона в DataFrame:\n", df['base_country_wb_region'].unique())
    print("Уникальные значения дохода в DataFrame:\n", df['target_country_wb_income'].unique())
    filtered_df = df[(df['base_country_wb_region'] == region) &
                     (df['target_country_wb_income'].isin(['Upper middle income', 'High income']))]
    print("Отфильтрованные данные:\n", filtered_df)
    print("THERE ARE NOT Unique countries in filtered data:\n", filtered_df['target_country_name'].unique())
    return filtered_df

  # run test to see if you are getting the correct result
actual = len(filter_migrations(country_migration, "Middle East & North Africa"))
expected = 432
if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
      print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Уникальные значения региона в DataFrame:
 ['Middle East & North Africa' 'South Asia' 'Europe & Central Asia'
 'Sub-Saharan Africa' 'Latin America & Caribbean' 'East Asia & Pacific'
 'North America']
Уникальные значения дохода в DataFrame:
 ['Low Income' 'Upper Middle Income' 'Lower Middle Income' 'High Income']
Отфильтрованные данные:
 Empty DataFrame
Columns: [base_country_code, base_country_name, base_lat, base_long, base_country_wb_income, base_country_wb_region, target_country_code, target_country_name, target_lat, target_long, target_country_wb_income, target_country_wb_region, net_per_10K_2015, net_per_10K_2016, net_per_10K_2017, net_per_10K_2018, net_per_10K_2019]
Index: []
THERE ARE NOT Unique countries in filtered data:
 []
Test failed!
Expected: 432
Actual: 0