<a href="https://colab.research.google.com/github/LiliiaCheban/data-and-python/blob/main/Interrogating_the_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1 - get the data, look at first 10 records

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Industry Migration")

sh=df.shape
print(sh)
df.head(10)

(5295, 13)

,country_code,country_name,wb_income,wb_region,isic_section_index,isic_section_name,industry_id,industry_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,High income,Middle East & North Africa,C,Manufacturing,1,Defense & Space,378.74,127.94,8.20,68.51,49.55
1,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,3,Computer Hardware,100.97,358.14,112.98,149.57,182.22
2,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,4,Computer Software,1079.36,848.15,596.48,409.18,407.41
3,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,5,Computer Networking,401.46,447.39,163.99,236.69,188.07
4,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,6,Internet,1840.33,1368.42,877.71,852.39,519.40
5,ae,United Arab Emirates,High income,Middle East & North Africa,J,Information and communication,8,Telecommunications,676.91,676.11,365.96,283.59,281.91
6,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,9,Law Practice,694.50,529.50,362.83,356.56,147.83
7,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,10,Legal Services,661.10,665.65,462.30,475.62,255.21
8,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,11,Management Consulting,982.85,694.25,520.28,574.60,406.03
9,ae,United Arab Emirates,High income,Middle East & North Africa,M,Professional scientific and technical activities,12,Biotechnology,1230.17,846.28,500.77,205.78,513.23

Exercise 2 - display just two columns
Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Industry Migration")
df
df[['country_name','industry_name']]

              country_name                       industry_name
0     United Arab Emirates                     Defense & Space
1     United Arab Emirates                   Computer Hardware
2     United Arab Emirates                   Computer Software
3     United Arab Emirates                 Computer Networking
4     United Arab Emirates                            Internet
...                    ...                                 ...
5290              Zimbabwe                     Mining & Metals
5291              Zimbabwe                    Higher Education
5292              Zimbabwe               International Affairs
5293              Zimbabwe   Information Technology & Services
5294              Zimbabwe  Non-Profit Organization Management

[5295 rows x 2 columns]

Exercise 3 - yearly migration
display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.

In [ ]:
from xlrd.book import sheet
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Industry Migration")
df

num_rows = df.shape[0]
print(num_rows)
y=num_rows//2
z=y-10
k=y+10
df[['net_per_10K_2015','net_per_10K_2016','net_per_10K_2017',]].iloc[z:k]

5295

      net_per_10K_2015  net_per_10K_2016  net_per_10K_2017
2637             -7.57            -15.53            -41.39
2638            -46.07            -84.82            -69.27
2639            -17.75             -9.88            -13.85
2640            -46.50            -53.41            -38.84
2641             15.19              5.91            -67.67
2642            -36.77            -72.50           -224.30
2643            -57.53            -50.04            -58.67
2644              4.31            -29.11            -68.60
2645            -60.63           -102.39           -130.02
2646            -26.63              5.22            -29.57
2647            -31.78            -45.04            -86.56
2648             24.01             27.84             -9.85
2649            -17.74            -27.67            -19.57
2650            -26.23            -21.12            -26.23
2651            -75.42            -71.15            -57.01
2652            -40.41             -2.47            -40.18
2653            290.14            396.01            175.95
2654             23.68           -148.03           -157.05
2655           -138.81           -662.75           -273.35
2656           -718.56           -623.25           -446.93

Exercise 4 - migration to and from
The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Country Migration")
df

#df[['base_country_name','target_country_name']].iloc[0:10]
#df.head(2)
df[['base_country_name','target_country_name','net_per_10K_2015','net_per_10K_2016','net_per_10K_2017','net_per_10K_2018','net_per_10K_2019']].iloc[0:10]

,base_country_name,target_country_name,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,United Arab Emirates,Afghanistan,0.19,0.16,0.11,-0.05,-0.02
1,United Arab Emirates,Algeria,0.19,0.25,0.57,0.55,0.78
2,United Arab Emirates,Angola,-0.01,0.04,0.11,-0.02,-0.06
3,United Arab Emirates,Argentina,0.16,0.18,0.04,0.01,0.23
4,United Arab Emirates,Armenia,0.10,0.05,0.03,-0.01,0.02
5,United Arab Emirates,Australia,-1.06,-3.31,-4.01,-4.58,-4.09
6,United Arab Emirates,Austria,0.11,-0.08,-0.07,-0.05,-0.16
7,United Arab Emirates,Azerbaijan,0.24,0.25,0.10,0.05,0.04
8,United Arab Emirates,Bahrain,0.90,0.89,0.38,-0.07,0.15
9,United Arab Emirates,Bangladesh,-0.21,-0.21,-0.26,-0.18,-0.04

Exercise 5 - unique countries
Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Country Migration")
df

#df[['base_country_name','target_country_name']].iloc[0:10]
#df.head(2)
df['base_country_name'].unique()
for country in df['base_country_name'].unique():
    print(country)

United Arab Emirates
Afghanistan
Albania
Armenia
Angola
Argentina
Austria
Australia
Azerbaijan
Bosnia and Herzegovina
Bangladesh
Belgium
Burkina Faso
Bulgaria
Bahrain
Benin
Bolivia
Brazil
Bahamas, The
Botswana
Belarus
Canada
Congo, Dem. Rep.
Switzerland
Cote d'Ivoire
Chile
Cameroon
China
Colombia
Costa Rica
Cuba
Cyprus
Czech Republic
Germany
Denmark
Dominican Republic
Algeria
Ecuador
Estonia
Egypt, Arab Rep.
Spain
Ethiopia
Finland
Fiji
France
Gabon
United Kingdom
Georgia
Ghana
Greece
Guatemala
Hong Kong SAR, China
Honduras
Croatia
Haiti
Hungary
Indonesia
Ireland
Israel
India
Iraq
Iran, Islamic Rep.
Iceland
Italy
Jamaica
Jordan
Japan
Kenya
Cambodia
Korea, Rep.
Kuwait
Kazakhstan
Lebanon
Sri Lanka
Lithuania
Luxembourg
Latvia
Libya
Morocco
Moldova
Madagascar
Macedonia, FYR
Mali
Myanmar
Mongolia
Malta
Mauritius
Malawi
Mexico
Malaysia
Mozambique
Namibia
Nigeria
Nicaragua
Netherlands
Norway
Nepal
New Zealand
Oman
Panama
Peru
Papua New Guinea
Philippines
Pakistan
Poland
Puerto Rico
West Bank and Gaza
Portugal
Paraguay
Qatar
Romania
Serbia
Rwanda
Saudi Arabia
Sudan
Sweden
Singapore
Slovenia
Slovak Republic
Senegal
El Salvador
Syrian Arab Republic
Togo
Thailand
Tunisia
Turkey
Trinidad and Tobago
Taiwan, China
Tanzania
Ukraine
Uganda
United States
Uruguay
Uzbekistan
Venezuela, RB
Vietnam
Yemen, Rep.
South Africa
Zambia
Zimbabwe

Exercise 6 - how many countries are migrated to
Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Country Migration")
df

#df[['base_country_name','target_country_name']].iloc[0:10]
#df.head(2)
df['base_country_name'].unique()
for country in df['target_country_name'].unique():
    print(country)

Afghanistan
Algeria
Angola
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahrain
Bangladesh
Belarus
Belgium
Brazil
Bulgaria
Cameroon
Canada
Chile
China
Colombia
Croatia
Cyprus
Czech Republic
Denmark
Egypt, Arab Rep.
Ethiopia
Finland
France
Georgia
Germany
Ghana
Greece
Hong Kong SAR, China
Hungary
India
Indonesia
Iran, Islamic Rep.
Iraq
Ireland
Italy
Japan
Jordan
Kazakhstan
Kenya
Korea, Rep.
Kuwait
Lebanon
Libya
Luxembourg
Macedonia, FYR
Malaysia
Malta
Mauritius
Mexico
Morocco
Myanmar
Nepal
Netherlands
New Zealand
Nigeria
Norway
Oman
Pakistan
Philippines
Poland
Portugal
Qatar
Romania
Saudi Arabia
Serbia
Singapore
Slovak Republic
South Africa
Spain
Sri Lanka
Sudan
Sweden
Switzerland
Syrian Arab Republic
Taiwan, China
Tanzania
Thailand
Tunisia
Turkey
Uganda
Ukraine
United Kingdom
United States
Uzbekistan
Venezuela, RB
Vietnam
West Bank and Gaza
Yemen, Rep.
Zimbabwe
United Arab Emirates
Namibia
Bolivia
Costa Rica
Dominican Republic
Ecuador
Israel
Panama
Paraguay
Peru
Uruguay
Bosnia and Herzegovina
Slovenia
Cambodia
Estonia
Fiji
Lithuania
Mongolia
Papua New Guinea
Zambia
Albania
Benin
Congo, Dem. Rep.
Cote d'Ivoire
Latvia
Senegal
Mozambique
Bahamas, The
Burkina Faso
Cuba
El Salvador
Guatemala
Haiti
Honduras
Iceland
Jamaica
Madagascar
Moldova
Nicaragua
Rwanda
Trinidad and Tobago
Mali
Togo
Gabon
Puerto Rico
Botswana
Malawi

Exercise 7 - skill sets
Using the "Skill Migration" data sheet, display the following:

the first record
the last 10 records
records from index 500 to index 600
a count of all unique countries
a list of all unique skill group categories
the first 50 rows, skill group names and net migration in 2019 only

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Skill Migration")
df
n=df.shape
print(n)
first_record=df.head(2)
print(first_record)
Last_10_record=df.tail(10)
print(Last_10_record)
middle_record=df.iloc[499:600]
print(middle_record)

country_unique=df['country_name'].unique()
print(country_unique)

skill_unique=df['skill_group_category'].unique()
print(skill_unique)
k=df[['skill_group_category','net_per_10K_2019']].iloc[0:50]
print(k)

(17617, 12)
  country_code country_name   wb_income   wb_region  skill_group_id  \
0           af  Afghanistan  Low income  South Asia            2549
1           af  Afghanistan  Low income  South Asia            2608

  skill_group_category        skill_group_name  net_per_10K_2015  \
0          Tech Skills  Information Management           -791.59
1      Business Skills  Operational Efficiency          -1610.25

   net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           -705.88           -550.04           -680.92          -1208.79
1           -933.55           -776.06           -532.22           -790.09
      country_code country_name   wb_income            wb_region  \
17607           zw     Zimbabwe  Low income  Sub-Saharan Africa
17608           zw     Zimbabwe  Low income  Sub-Saharan Africa
17609           zw     Zimbabwe  Low income  Sub-Saharan Africa
17610           zw     Zimbabwe  Low income  Sub-Saharan Africa
17611           zw     Zimbabwe  Low income  Sub-Saharan Africa
17612           zw     Zimbabwe  Low income  Sub-Saharan Africa
17613           zw     Zimbabwe  Low income  Sub-Saharan Africa
17614           zw     Zimbabwe  Low income  Sub-Saharan Africa
17615           zw     Zimbabwe  Low income  Sub-Saharan Africa
17616           zw     Zimbabwe  Low income  Sub-Saharan Africa

       skill_group_id         skill_group_category         skill_group_name  \
17607            5587  Specialized Industry Skills            Earth Science
17608            1838  Specialized Industry Skills                Utilities
17609            3104  Specialized Industry Skills        International Law
17610            1530  Specialized Industry Skills         Higher Education
17611           25045  Specialized Industry Skills  Agricultural Production
17612           12666  Specialized Industry Skills                 Teaching
17613            1235  Specialized Industry Skills                   Mining
17614           43756  Specialized Industry Skills        Personal Coaching
17615            1724  Specialized Industry Skills            Public Health
17616             172  Specialized Industry Skills                      Law

       net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  \
17607              7.00             -5.61            -48.68            -71.76
17608           -157.50           -170.89            -81.63           -139.70
17609            -98.23            -72.38            -94.81           -128.64
17610             54.17             -3.69            -18.88             11.91
17611           -127.75            -56.95              5.54            -42.07
17612             71.18             30.68            -18.85            -68.89
17613              8.97           -112.85            -35.87            -65.38
17614            -53.45            -59.70            -88.01            -55.90
17615             15.25            -65.53            -57.22            -39.39
17616             40.85             47.16            -31.24             -8.24

       net_per_10K_2019
17607           -111.85
17608           -110.54
17609           -105.16
17610            -96.81
17611            -95.85
17612            -93.70
17613            -93.46
17614            -82.23
17615            -32.14
17616            -25.52
    country_code country_name    wb_income                   wb_region  \
499           ar    Argentina  High income  Latin America & Caribbean
500           ar    Argentina  High income  Latin America & Caribbean
501           ar    Argentina  High income  Latin America & Caribbean
502           ar    Argentina  High income  Latin America & Caribbean
503           ar    Argentina  High income  Latin America & Caribbean
..           ...          ...          ...                         ...
595           au    Australia  High income         East Asia & Pacific
596           au    Australia  High income         East Asia & Pacific
597           au    Australia  High income         East Asia & Pacific
598           au    Australia  High income         East Asia & Pacific
599           au    Australia  High income         East Asia & Pacific

     skill_group_id         skill_group_category         skill_group_name  \
499           25045  Specialized Industry Skills  Agricultural Production
500           26209                  Tech Skills         Digital Literacy
501           12666  Specialized Industry Skills                 Teaching
502           42956  Specialized Industry Skills      Delivery Operations
503            2269              Business Skills       Project Management
..              ...                          ...                      ...
595             343  Specialized Industry Skills                  History
596            4382              Business Skills          Debt Collection
597            1235  Specialized Industry Skills                   Mining
598           43756  Specialized Industry Skills        Personal Coaching
599            1275  Specialized Industry Skills      Property Management

     net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  \
499            -14.03            -30.61             -3.91            -27.29
500             -8.46              1.60             38.82             57.56
501            -14.33            -26.96              9.16             13.86
502            -44.05            -43.48              2.46            -67.62
503            -34.32             38.07             94.94            135.19
..                ...               ...               ...               ...
595            -31.00             42.74             36.13             28.78
596              6.71              2.17             45.03              7.91
597            -63.59            -32.71             10.68             14.54
598              4.36             23.71             37.86             31.71
599             -5.45             13.10             12.72             19.49

     net_per_10K_2019
499            -53.42
500            -53.18
501            -52.78
502            -50.99
503            -50.02
..                ...
595             21.86
596             22.41
597             23.75
598             25.18
599             25.82

[101 rows x 12 columns]
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh'
 'Belarus' 'Belgium' 'Benin' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'Bulgaria' 'Burkina Faso' 'Cambodia' 'Cameroon' 'Canada' 'Chile'
 'China' 'Colombia' 'Congo, Dem. Rep.' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark' 'Dominican Republic'
 'Ecuador' 'Egypt, Arab Rep.' 'El Salvador' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'Gabon' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Haiti' 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, Rep.'
 'Kuwait' 'Latvia' 'Lebanon' 'Libya' 'Lithuania' 'Luxembourg'
 'Macedonia, FYR' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Romania' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Singapore'
 'Slovak Republic' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Taiwan, China' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Venezuela, RB' 'Vietnam' 'West Bank and Gaza'
 'Yemen, Rep.' 'Zambia' 'Zimbabwe']
['Tech Skills' 'Business Skills' 'Specialized Industry Skills'
 'Disruptive Tech Skills' 'Soft Skills']
           skill_group_category  net_per_10K_2019
0                   Tech Skills          -1208.79
1               Business Skills           -790.09
2   Specialized Industry Skills           -767.64
3                   Tech Skills           -739.51
4   Specialized Industry Skills           -718.64
5        Disruptive Tech Skills           -717.73
6   Specialized Industry Skills           -698.84
7                   Soft Skills           -696.16
8                   Tech Skills           -692.24
9   Specialized Industry Skills           -640.96
10                  Tech Skills           -625.19
11  Specialized Industry Skills           -560.86
12  Specialized Industry Skills           -553.91
13  Specialized Industry Skills           -534.90
14  Specialized Industry Skills           -531.68
15              Business Skills           -489.62
16              Business Skills           -481.75
17              Business Skills           -481.00
18  Specialized Industry Skills           -470.25
19              Business Skills           -465.04
20       Disruptive Tech Skills           -459.57
21  Specialized Industry Skills           -456.65
22  Specialized Industry Skills           -455.72
23              Business Skills           -454.04
24  Specialized Industry Skills           -444.72
25  Specialized Industry Skills           -442.94
26  Specialized Industry Skills           -432.87
27                  Soft Skills           -429.40
28              Business Skills           -417.59
29              Business Skills           -415.60
30  Specialized Industry Skills           -409.63
31              Business Skills           -407.53
32              Business Skills           -406.50
33                  Tech Skills           -405.87
34                  Tech Skills           -402.25
35                  Tech Skills           -401.17
36  Specialized Industry Skills           -400.00
37              Business Skills           -381.75
38  Specialized Industry Skills           -380.71
39  Specialized Industry Skills           -379.37
40              Business Skills           -375.82
41                  Tech Skills           -375.25
42              Business Skills           -369.78
43  Specialized Industry Skills           -369.71
44              Business Skills           -364.60
45  Specialized Industry Skills           -356.44
46              Business Skills           -353.67
47  Specialized Industry Skills           -347.71
48  Specialized Industry Skills           -339.42
49  Specialized Industry Skills           -332.85

Exercise 8 - total net migration over 5 years
Using the Country Migration data sheet, display the record at position 10. Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Country Migration")
df
k=df.iloc[9:10]
print(k)
a=df['net_per_10K_2015'].iloc[9:10]
b=df['net_per_10K_2016'].iloc[9:10]
c=df['net_per_10K_2017'].iloc[9:10]
d=df['net_per_10K_2018'].iloc[9:10]
e=df['net_per_10K_2019'].iloc[9:10]
print(a+b+c+d+e)

  base_country_code     base_country_name   base_lat  base_long  \
9                ae  United Arab Emirates  23.424076  53.847818

  base_country_wb_income      base_country_wb_region target_country_code  \
9            High Income  Middle East & North Africa                  bd

  target_country_name  target_lat  target_long target_country_wb_income  \
9          Bangladesh   23.684994    90.356331      Lower Middle Income

  target_country_wb_region  net_per_10K_2015  net_per_10K_2016  \
9               South Asia             -0.21             -0.21

   net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
9             -0.26             -0.18             -0.04
9   -0.9
dtype: float64

Exercise 9 - formulating a text response
Using the Industry Migration data sheet, display the record at position 100. Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into country of skilled workers for the industry name industry, during the years 2015-2019 was total_net_migration

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Industry Migration")
df

k=df.iloc[99:100]
print(k)
a=df['net_per_10K_2015'].iloc[99:100]
b=df['net_per_10K_2016'].iloc[99:100]
c=df['net_per_10K_2017'].iloc[99:100]
d=df['net_per_10K_2018'].iloc[99:100]
e=df['net_per_10K_2019'].iloc[99:100]
print('The total net migration into country of skilled workers for the industry name industry, during the years 2015-2019 was' ,a+b+c+d+e)

   country_code          country_name    wb_income  \
99           ae  United Arab Emirates  High income

                     wb_region isic_section_index       isic_section_name  \
99  Middle East & North Africa                  L  Real estate activities

    industry_id           industry_name  net_per_10K_2015  net_per_10K_2016  \
99          128  Commercial Real Estate            532.74            937.65

    net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
99            384.13            119.88           -106.92
The total net migration into country of skilled workers for the industry name industry, during the years 2015-2019 was 99    1867.48
dtype: float64

Exercise 10 - five text responses
Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into country of skilled workers for the industry name industry, during the years 2015-2019 was total_net_migration

Hint: use a for loop to get a record and do each calculation

In [ ]:
import pandas as pd
url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
df=pd.read_excel(url,sheet_name="Industry Migration")


a=round(df['net_per_10K_2015'].iloc[0],1)
print('The total net migration into country of skilled workers for the industry name industry, during the years 2015 was ',a)
b=df['net_per_10K_2016'].iloc[1]
print('The total net migration into country of skilled workers for the industry name industry, during the years 2016 was ',round(b,1))
c=df['net_per_10K_2017'].iloc[2]
print('The total net migration into country of skilled workers for the industry name industry, during the years 2017 was ',round(c,1))
d=df['net_per_10K_2018'].iloc[3]
print('The total net migration into country of skilled workers for the industry name industry, during the years 2018 was ',round(d,1))
e=df['net_per_10K_2019'].iloc[4]
print('The total net migration into country of skilled workers for the industry name industry, during the years 2019 was ',round(b,1))
total_net_migration=round((a+b+c+d+e),1)
print('The total net migration into country of skilled workers for the industry name industry, during the years 2015-2019 was ',total_net_migration)

The total net migration into country of skilled workers for the industry name industry, during the years 2015 was  378.7
The total net migration into country of skilled workers for the industry name industry, during the years 2016 was  358.1
The total net migration into country of skilled workers for the industry name industry, during the years 2017 was  596.5
The total net migration into country of skilled workers for the industry name industry, during the years 2018 was  236.7
The total net migration into country of skilled workers for the industry name industry, during the years 2019 was  358.1
The total net migration into country of skilled workers for the industry name industry, during the years 2015-2019 was  2089.4

In [2]:
def show_total_net_migration():
  import pandas as pd
  url='https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(url, sheet_name="Industry Migration")
  total_net_migration = 0
  # initialize total net migration to 0
  for i in range(5):
  # iterate through columns of dataframe
      df['net_per_10K_{}'.format(2015+i)]
      total_net_migration += df['net_per_10K_{}'.format(2015+i)].iloc[i]
      print(round(total_net_migration,1))

  # add current column value to total net migration
  print("The total net migration for United Arab Emirates of skilled workers for the Real estate activities industy during the years 2015 - 2019 was :", round(total_net_migration, 1))
show_total_net_migration()

378.7
736.9
1333.4
1570.1
2089.5
The total net migration for United Arab Emirates of skilled workers for the Real estate activities industy during the years 2015 - 2019 was : 2089.5