<a href="https://colab.research.google.com/github/LiliiaCheban/data-and-python/blob/main/Sorting_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1 - get data, sort by happiness score
Read data from the Excel file on Happiness Data at this link: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Display first 5 rows of data

The data is currently sorted by Happiness Rank...

sort the data by Happiness Score in ascending order
display sorted table
Test output:
The lowest score (displayed first) is 2.839, Togo
The highest score (displayed last) is 7.587, Switzerland

Упражнение 1. Получите данные, отсортируйте их по показателю счастья. Прочтите данные из файла Excel в разделе «Данные о счастье» по этой ссылке: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx ?raw=истина

Отобразить первые 5 строк данных

В настоящее время данные отсортированы по рейтингу счастья...

отсортировать данные по показателю счастья в порядке возрастания; отобразить отсортированную таблицу. Результаты теста: Самый низкий балл (отображается первым) — 2,839, Того. Самый высокий балл (отображается последним) — 7,587, Швейцария.

In [ ]:
def happiness_sorting():
  import pandas as pd
  url ='https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true'
  df=pd.read_excel(url)
  df_nw=df.copy()
  print(df_nw.head(5))

  print('sort the data by Happiness Score in ascending order''\n',df_nw.sort_values(by="Happiness Score"))





happiness_sorting()

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual
0     0.29678            2.51738
1     0.43630            2.70201
2     0.34139            2.49204
3     0.34699            2.46531
4     0.45811            2.45176
sort the data by Happiness Score in ascending order
          Country                           Region  Happiness Rank  \
157         Togo               Sub-Saharan Africa             158
156      Burundi               Sub-Saharan Africa             157
155        Syria  Middle East and Northern Africa             156
154        Benin               Sub-Saharan Africa             155
153       Rwanda               Sub-Saharan Africa             154
..           ...                              ...             ...
4         Canada                    North America               5
3         Norway                   Western Europe               4
2        Denmark                   Western Europe               3
1        Iceland                   Western Europe               2
0    Switzerland                   Western Europe               1

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
157            2.839         0.06727                   0.20868  0.13995
156            2.905         0.08658                   0.01530  0.41587
155            3.006         0.05015                   0.66320  0.47489
154            3.340         0.03656                   0.28665  0.35386
153            3.465         0.03464                   0.22208  0.77370
..               ...             ...                       ...      ...
4              7.427         0.03553                   1.32629  1.32261
3              7.522         0.03880                   1.45900  1.33095
2              7.527         0.03328                   1.32548  1.36058
1              7.561         0.04884                   1.30232  1.40223
0              7.587         0.03411                   1.39651  1.34951

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
157                   0.28443  0.36453                        0.10731
156                   0.22396  0.11850                        0.10062
155                   0.72193  0.15684                        0.18906
154                   0.31910  0.48450                        0.08010
153                   0.42864  0.59201                        0.55191
..                        ...      ...                            ...
4                     0.90563  0.63297                        0.32957
3                     0.88521  0.66973                        0.36503
2                     0.87464  0.64938                        0.48357
1                     0.94784  0.62877                        0.14145
0                     0.94143  0.66557                        0.41978

     Generosity  Dystopia Residual
157     0.16681            1.56726
156     0.19727            1.83302
155     0.47179            0.32858
154     0.18260            1.63328
153     0.22628            0.67042
..          ...                ...
4       0.45811            2.45176
3       0.34699            2.46531
2       0.34139            2.49204
1       0.43630            2.70201
0       0.29678            2.51738

[158 rows x 12 columns]

Exercise 2 - sort by multiple columns, display the first 5 rows
sort the data by Economy (GDP per Capita) and Health (Life Expectancy) in ascending order
display the first 5 rows of sorted data

Упражнение 2. Сортировка по нескольким столбцам, отображение первых 5 строк
отсортируйте данные по экономике (ВВП на душу населения) и здоровью (продолжительность жизни) в порядке возрастания
отобразить первые 5 строк отсортированных данных

In [ ]:
def happiness_sorting2():
  import pandas as pd
  url ='https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true'
  df=pd.read_excel(url)
  df_nw=df.copy()
  print('sort the data by Economy (GDP per Capita) and Health (Life Expectancy) in ascending order''\n')
  print(df_nw.sort_values(by=['Economy (GDP per Capita)', 'Health (Life Expectancy)']).head(5))

happiness_sorting2()

sort the data by Economy (GDP per Capita) and Health (Life Expectancy) in ascending order

              Country              Region  Happiness Rank  Happiness Score  \
119  Congo (Kinshasa)  Sub-Saharan Africa             120            4.517
156           Burundi  Sub-Saharan Africa             157            2.905
130            Malawi  Sub-Saharan Africa             131            4.292
143             Niger  Sub-Saharan Africa             144            3.845
115           Liberia  Sub-Saharan Africa             116            4.571

     Standard Error  Economy (GDP per Capita)   Family  \
119         0.03680                   0.00000  1.00120
156         0.08658                   0.01530  0.41587
130         0.06130                   0.01604  0.41134
143         0.03602                   0.06940  0.77265
115         0.11068                   0.07120  0.78968

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
119                   0.09806  0.22605                        0.07625
156                   0.22396  0.11850                        0.10062
130                   0.22562  0.43054                        0.06977
143                   0.29707  0.47692                        0.15639
115                   0.34201  0.28531                        0.06232

     Generosity  Dystopia Residual
119     0.24834            2.86712
156     0.19727            1.83302
130     0.33128            2.80791
143     0.19387            1.87877
115     0.24362            2.77729

Exercise 3 - sorting in descending order
Sort the data by Freedom and Trust (Government Corruption) in descending order and show the Country and Region only for the last five rows

Упражнение 3 – сортировка по убыванию
Отсортируйте данные по свободе и доверию (коррупция в правительстве) в порядке убывания и покажите страну и регион только для последних пяти строк.

In [ ]:
import pandas as pd
url ='https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true'
df=pd.read_excel(url)
df_nw=df.copy()
print('Sort the data by Freedom and Trust (Government Corruption) in descending order ','\n')
print(df_nw.sort_values(by=['Freedom', 'Trust (Government Corruption)'],ascending=False))
print('show the Country and Region only for the last five rows','\n')
print(df_nw.sort_values(by=['Freedom', 'Trust (Government Corruption)'],ascending=False)[['Country', 'Region']])

Sort the data by Freedom and Trust (Government Corruption) in descending order

                    Country                           Region  Happiness Rank  \
3                    Norway                   Western Europe               4
0               Switzerland                   Western Europe               1
144                Cambodia                Southeastern Asia             145
7                    Sweden                   Western Europe               8
43               Uzbekistan       Central and Eastern Europe              44
..                      ...                              ...             ...
136                  Angola               Sub-Saharan Africa             137
117                   Sudan               Sub-Saharan Africa             118
95   Bosnia and Herzegovina       Central and Eastern Europe              96
101                  Greece                   Western Europe             102
111                    Iraq  Middle East and Northern Africa             112

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
3              7.522         0.03880                   1.45900  1.33095
0              7.587         0.03411                   1.39651  1.34951
144            3.819         0.05069                   0.46038  0.62736
7              7.364         0.03157                   1.33171  1.28907
43             6.003         0.04361                   0.63244  1.34043
..               ...             ...                       ...      ...
136            4.033         0.04758                   0.75778  0.86040
117            4.550         0.06740                   0.52107  1.01404
95             4.949         0.06913                   0.83223  0.91916
101            4.857         0.05062                   1.15406  0.92933
111            4.677         0.05232                   0.98549  0.81889

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
3                     0.88521  0.66973                        0.36503
0                     0.94143  0.66557                        0.41978
144                   0.61114  0.66246                        0.07247
7                     0.91087  0.65980                        0.43844
43                    0.59772  0.65821                        0.30826
..                        ...      ...                            ...
136                   0.16683  0.10384                        0.07122
117                   0.36878  0.10081                        0.14660
95                    0.79081  0.09245                        0.00227
101                   0.88213  0.07699                        0.01397
111                   0.60237  0.00000                        0.13788

     Generosity  Dystopia Residual
3       0.34699            2.46531
0       0.29678            2.51738
144     0.40359            0.98195
7       0.36262            2.37119
43      0.22837            2.23741
..          ...                ...
136     0.12344            1.94939
117     0.19062            2.20857
95      0.24808            2.06367
101     0.00000            1.80101
111     0.17922            1.95335

[158 rows x 12 columns]
show the Country and Region only for the last five rows

                    Country                           Region
3                    Norway                   Western Europe
0               Switzerland                   Western Europe
144                Cambodia                Southeastern Asia
7                    Sweden                   Western Europe
43               Uzbekistan       Central and Eastern Europe
..                      ...                              ...
136                  Angola               Sub-Saharan Africa
117                   Sudan               Sub-Saharan Africa
95   Bosnia and Herzegovina       Central and Eastern Europe
101                  Greece                   Western Europe
111                    Iraq  Middle East and Northern Africa

[158 rows x 2 columns]

Exercise 4 - check for null values
read data from the file housing_in_london_yearly_variables.csv from this link: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv
check if any NA values exist in the dataframe and print the result
use df.info() to see which columns have null entries (Hint: if the non-null count is less than total entries, column contains missing/NA entries)

Упражнение 4. Проверка нулевых значений
прочитайте данные из файла Housing_in_london_yearly_variables.csv по этой ссылке: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv
проверьте, существуют ли какие-либо значения NA в кадре данных, и распечатайте результат
используйте df.info(), чтобы увидеть, в каких столбцах есть нулевые записи (Подсказка: если количество ненулевых значений меньше общего количества записей, столбец содержит отсутствующие записи/записи NA)

In [ ]:
import pandas as pd
url ='https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)
df_nw=df.copy()
print(df_nw.head(7))
print('check if any NA values exist in the dataframe','\n',df.isnull().values.any())
print(df_nw.info())
print('null entries','\n',df["life_satisfaction"].isnull().values.any())

df_nw1=df_nw.dropna()
print(df_nw1.info())

        code                  area        date  median_salary  \
0  E09000001        city of london  1999-12-01        33020.0
1  E09000002  barking and dagenham  1999-12-01        21480.0
2  E09000003                barnet  1999-12-01        19568.0
3  E09000004                bexley  1999-12-01        18621.0
4  E09000005                 brent  1999-12-01        18532.0
5  E09000006               bromley  1999-12-01        16720.0
6  E09000007                camden  1999-12-01        23677.0

   life_satisfaction mean_salary recycling_pct  population_size  \
0                NaN       48922             0           6581.0
1                NaN       23620             3         162444.0
2                NaN       23128             8         313469.0
3                NaN       21386            18         217458.0
4                NaN       20911             6         260317.0
5                NaN       21293            13         294902.0
6                NaN       30249            13         190003.0

   number_of_jobs  area_size  no_of_houses  borough_flag
0             NaN        NaN           NaN             1
1             NaN        NaN           NaN             1
2             NaN        NaN           NaN             1
3             NaN        NaN           NaN             1
4             NaN        NaN           NaN             1
5             NaN        NaN           NaN             1
6             NaN        NaN           NaN             1
check if any NA values exist in the dataframe
 True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               1071 non-null   object
 1   area               1071 non-null   object
 2   date               1071 non-null   object
 3   median_salary      1049 non-null   float64
 4   life_satisfaction  352 non-null    float64
 5   mean_salary        1071 non-null   object
 6   recycling_pct      860 non-null    object
 7   population_size    1018 non-null   float64
 8   number_of_jobs     931 non-null    float64
 9   area_size          666 non-null    float64
 10  no_of_houses       666 non-null    float64
 11  borough_flag       1071 non-null   int64
dtypes: float64(6), int64(1), object(5)
memory usage: 100.5+ KB
None
null entries
 True
<class 'pandas.core.frame.DataFrame'>
Int64Index: 267 entries, 613 to 1013
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               267 non-null    object
 1   area               267 non-null    object
 2   date               267 non-null    object
 3   median_salary      267 non-null    float64
 4   life_satisfaction  267 non-null    float64
 5   mean_salary        267 non-null    object
 6   recycling_pct      267 non-null    object
 7   population_size    267 non-null    float64
 8   number_of_jobs     267 non-null    float64
 9   area_size          267 non-null    float64
 10  no_of_houses       267 non-null    float64
 11  borough_flag       267 non-null    int64
dtypes: float64(6), int64(1), object(5)
memory usage: 27.1+ KB
None

Exercise 5 - remove null values
remove rows with NA values for life_satisfaction (use [ ] even if only one column in list)
remove all NA values across whole dataframe

Упражнение 5. Удаление нулевых значений
удалить строки со значениями NA для life_satisfaction (используйте [ ], даже если в списке только один столбец)
удалить все значения NA во всем кадре данных

In [ ]:
import pandas as pd
url ='https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)
df_nw=df.copy()


print('null entries','\n',df_nw["life_satisfaction"].isnull().values.any())
print('remove null values remove rows with NA values for life_satisfaction','\n',df_nw.dropna(subset = ['life_satisfaction']))
df_nw['life_satisfaction']

null entries
 True
remove null values remove rows with NA values for life_satisfaction
            code                  area        date  median_salary  \
613   E09000002  barking and dagenham  2011-12-01        28201.0
614   E09000003                barnet  2011-12-01        30237.0
615   E09000004                bexley  2011-12-01        28638.0
616   E09000005                 brent  2011-12-01        26772.0
617   E09000006               bromley  2011-12-01        28163.0
...         ...                   ...         ...            ...
1010  E12000009            south west  2018-12-01        27956.0
1013  E92000001               england  2018-12-01        29856.0
1017  N92000002      northern ireland  2018-12-01        27101.0
1018  S92000003              scotland  2018-12-01        29289.0
1019  W92000004                 wales  2018-12-01        26353.0

      life_satisfaction mean_salary recycling_pct  population_size  \
613                7.05       33568            30         187029.0
614                7.43       33062            34         357538.0
615                7.42       31812            54         232774.0
616                7.11       29609            37         312245.0
617                7.50       32863            50         310554.0
...                 ...         ...           ...              ...
1010               7.77       32848            50        5599735.0
1013               7.71       37313            44       55977178.0
1017               7.89       31158           NaN        1881641.0
1018               7.69       34604           NaN        5438100.0
1019               7.68       30347           NaN        3138631.0

      number_of_jobs   area_size  no_of_houses  borough_flag
613          54000.0      3780.0       71079.0             1
614         147000.0      8675.0      139346.0             1
615          78000.0      6429.0       95037.0             1
616         115000.0      4323.0      112083.0             1
617         119000.0     15013.0      135036.0             1
...              ...         ...           ...           ...
1010       3011000.0         NaN           NaN             0
1013      30493000.0  13303728.0    24172166.0             0
1017        900000.0         NaN           NaN             0
1018       2861000.0         NaN           NaN             0
1019       1496000.0         NaN           NaN             0

[352 rows x 12 columns]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1066   NaN
1067   NaN
1068   NaN
1069   NaN
1070   NaN
Name: life_satisfaction, Length: 1071, dtype: float64

Exercise 6 - Removing duplicate entries
remove duplicate area entries keeping first instance

Упражнение 6. Удаление повторяющихся записей
удалить повторяющиеся записи области, сохраняя первый экземпляр

In [ ]:
import pandas as pd
url ='https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)
df_nw=df.copy()
print(df_nw.columns)
df_nw.drop_duplicates(subset = ['area'])
print(df_nw[['area','date']])

Index(['code', 'area', 'date', 'median_salary', 'life_satisfaction',
       'mean_salary', 'recycling_pct', 'population_size', 'number_of_jobs',
       'area_size', 'no_of_houses', 'borough_flag'],
      dtype='object')
                      area        date
0           city of london  1999-12-01
1     barking and dagenham  1999-12-01
2                   barnet  1999-12-01
3                   bexley  1999-12-01
4                    brent  1999-12-01
...                    ...         ...
1066         great britain  2019-12-01
1067     england and wales  2019-12-01
1068      northern ireland  2019-12-01
1069              scotland  2019-12-01
1070                 wales  2019-12-01

[1071 rows x 2 columns]

Exercise 7 - normalise data set
Create a function called normalise_income(df) that will return the values 1, 2 or 3 to represent low income, middle income and high income. If the value in df['median_salary'] is less than 27441 (the median), return 1, otherwise if it is less than 30932 (the upper quartile) return 2 and otherwise return 3.

Apply the normalise_income(df) function to the median_salary column.

NOTE: this operation will change the original dataframe so if you run it twice, everything in the median_salary column will change to 1 (as it had already been reduced to 1, 2 or 3 - if this happens, run the code in Exercise 4 again to get the original data again from the file.

Упражнение 7. Нормализация набора данных
Создайте функцию с именемnormalise_income(df), которая будет возвращать значения 1, 2 или 3, обозначающие низкий, средний и высокий доход. Если значение в df['median_salary'] меньше 27441 (медиана), верните 1, в противном случае, если оно меньше 30932 (верхний квартиль), верните 2, в противном случае верните 3.

Примените функциюnormalise_income(df) к столбцу median_salary.

ПРИМЕЧАНИЕ. Эта операция изменит исходный фрейм данных, поэтому, если вы запустите ее дважды, все в столбце median_salary изменится на 1 (так как оно уже было уменьшено до 1, 2 или 3 — если это произойдет, запустите код из упражнения 4 еще раз). чтобы снова получить исходные данные из файла.

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)
def normalise_income(df):
   if (df['median_salary'] <= 27441):
      return 1
   elif (df['median_salary'] >= 27441) & (df['median_salary'] <=30932):
      return 2
   else:
      return 3

  # Apply the function to the median salary column in your dataframe
df['median_salary'] = df.apply(normalise_income, axis=1)
print(df[['median_salary','area']])

      median_salary                  area
0                 3        city of london
1                 1  barking and dagenham
2                 1                barnet
3                 1                bexley
4                 1                 brent
...             ...                   ...
1066              2         great britain
1067              2     england and wales
1068              1      northern ireland
1069              2              scotland
1070              2                 wales

[1071 rows x 2 columns]

Exercise 8 - normalise the number of jobs column
Using what you have learnt from Exercise 7:

use df.describe() to find the median, upper quartile and maximum for the number_of_jobs column
create a function called normalise_jobs(df) that will return 1 if the number_of_jobs is below the median, 2 if the number_of_jobs is below the upper quartile or 3 otherwise.
normalise the number_of_jobs column by applying the function normalise_jobs.

Упражнение 8 – нормализация столбца количества рабочих мест
Используя то, что вы узнали из упражнения 7:

используйте df.describe(), чтобы найти медиану, верхний квартиль и максимум для столбца Number_of_jobs
создайте функцию с именемnormalise_jobs(df), которая будет возвращать 1, если число_заданий ниже медианы, 2, если число_заданий ниже верхнего квартиля, или 3 в противном случае.
нормализуйте столбец Number_of_jobs, применив функциюnormalise_jobs.

In [82]:
import pandas as pd
url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)

med = (df['number_of_jobs'].median())
q3 = df['number_of_jobs'].quantile(0.75)
def normalise_jobs(df):

   if (df['number_of_jobs']) <= med:
      return 1
   elif (df['number_of_jobs']) <= q3:
      return 2
   else:
      return 3

  # Apply the function to the median salary column in your dataframe
df['number_of_jobs'] = df.apply(normalise_jobs, axis=1)
print('1 if the number_of_jobs is below the median, 2 if the number_of_jobs is below the upper quartile or 3 otherwise')
print(df[['number_of_jobs','area']])

1 if the number_of_jobs is below the median, 2 if the number_of_jobs is below the upper quartile or 3 otherwise
      number_of_jobs                  area
0                  3        city of london
1                  3  barking and dagenham
2                  3                barnet
3                  3                bexley
4                  3                 brent
...              ...                   ...
1066               3         great britain
1067               3     england and wales
1068               3      northern ireland
1069               3              scotland
1070               3                 wales

[1071 rows x 2 columns]

xercise 9 - normalise into a new column
Create a new function and code to normalise the no_of_houses column BUT this time, instead of assigning the result to df['no_of_houses'] assign it to a new column called df['housing_volume']

упражнение 9 – нормализовать в новый столбец
Создайте новую функцию и код для нормализации столбца no_of_houses, НО на этот раз вместо присвоения результата df['no_of_houses'] присвойте его новому столбцу с именем df['housing_volume']

In [76]:

import pandas as pd
url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)

print(df['no_of_houses'].describe())

med = (df['no_of_houses'].median())
q3 = df['no_of_houses'].quantile(0.75)
def normalise_no_of_houses(df):

   if (df['no_of_houses']) <= med:
      return 1
   elif (df['no_of_houses']) <= q3:
      return 2
   else:
      return 3

  # Apply the function
df['no_of_houses'] = df.apply(normalise_no_of_houses, axis=1)
df['housing_volume']=df['no_of_houses']
print(df[['no_of_houses','housing_volume']])

count    6.660000e+02
mean     8.814682e+05
std      3.690376e+06
min      5.009000e+03
25%      8.763550e+04
50%      1.024020e+05
75%      1.262760e+05
max      2.417217e+07
Name: no_of_houses, dtype: float64
      no_of_houses  housing_volume
0                3               3
1                3               3
2                3               3
3                3               3
4                3               3
...            ...             ...
1066             3               3
1067             3               3
1068             3               3
1069             3               3
1070             3               3

[1071 rows x 2 columns]

Exercise 10 - normalise boroughs
Normalise the area_size column so that all values below mean are represented as 0 and otherwise are 1. Assign the output to a new column called area_size_normalised.

Test output:

Упражнение 10 – нормализация районов
Нормализуйте столбец area_size так, чтобы все значения ниже среднего были представлены как 0, а в противном случае — как 1. Назначьте выходные данные новому столбцу с именем area_size_normalized.

In [81]:
import pandas as pd
url = 'https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv'
df=pd.read_csv(url)
df.info()
print(df['area_size'].describe())
m=df['area_size'].mean()
def normalise_area_size(df):
   if df['area_size'] <=m :
      return 0

   else:
      return 1


  # Apply the function to the median salary column in your dataframe
df['area_size'] = df.apply(normalise_area_size, axis=1)
df['area_size_normalized']=df['area_size']
print('all values below mean are represented as 1','\n',df[['area_size','area_size_normalized']])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               1071 non-null   object
 1   area               1071 non-null   object
 2   date               1071 non-null   object
 3   median_salary      1049 non-null   float64
 4   life_satisfaction  352 non-null    float64
 5   mean_salary        1071 non-null   object
 6   recycling_pct      860 non-null    object
 7   population_size    1018 non-null   float64
 8   number_of_jobs     931 non-null    float64
 9   area_size          666 non-null    float64
 10  no_of_houses       666 non-null    float64
 11  borough_flag       1071 non-null   int64
dtypes: float64(6), int64(1), object(5)
memory usage: 100.5+ KB
count    6.660000e+02
mean     3.724903e+05
std      2.157060e+06
min      3.150000e+02
25%      2.960000e+03
50%      4.323000e+03
75%      8.220000e+03
max      1.330373e+07
Name: area_size, dtype: float64
all values below mean are represented as 1
       area_size  area_size_normalized
0             1                     1
1             1                     1
2             1                     1
3             1                     1
4             1                     1
...         ...                   ...
1066          1                     1
1067          1                     1
1068          1                     1
1069          1                     1
1070          1                     1

[1071 rows x 2 columns]